:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-pink-light: #fff4f6;
  --bg-white: #ffffff;
  --text-dark: #374151;
  --text-medium: #6b7280;

  --purple-primary: #8b5cf6;
  --purple-light:   #c084fc;
  --purple-hover:   #aa6df9;

  --bar-moisture:   #4caf50;
  --bar-oil:        #2196f3;
  --bar-sensitivity:#f44336;
  --bar-tension:    #ff9800;

  --font-main: 'Pretendard', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
